
/***** TAG SELECTORS  ******/
body{
    background-color: rgb(110, 110, 31);
}
h1{
    color: red;
    font-size: 40px;
}

/***** CLASS SELECTORS  ******/

.skull{
    background-color: black;
}

.party{
    background-color: rgb(31, 48, 15);
}